@model Shopee.Models.LoginModel

 <nav id="menu" class="navbar">
     <ul>
        <li class="navbar-header"><a href="javascript:void(0);">Browse Categories <i class="fa fa-caret-down"></i></a>
            <ul class="nav navbar-nav">
									                    <li class="level0"><a href="http://themes.webiz.mu/opencart/monster/index.php?route=product/category&amp;path=60" class="parent">Appliances</a>
                        <ul class="list-unstyled">
							                                	                                	<li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=product/category&amp;path=60_63"><i class="fa fa-chevron-right"></i>Air Treatment</a></li>
                                                                	<li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=product/category&amp;path=60_67"><i class="fa fa-chevron-right"></i>Coolers</a></li>
                                                                	<li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=product/category&amp;path=60_64"><i class="fa fa-chevron-right"></i>Dishwashers</a></li>
                                                                	<li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=product/category&amp;path=60_71"><i class="fa fa-chevron-right"></i>Microwaves</a></li>
                                                                	<li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=product/category&amp;path=60_66"><i class="fa fa-chevron-right"></i>Refrigerators</a></li>
                                                                	<li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=product/category&amp;path=60_65"><i class="fa fa-chevron-right"></i>Water Dispensers</a></li>
                                                                                       </ul>
                    </li>
                                    					                    <li class="level0"><a href="http://themes.webiz.mu/opencart/monster/index.php?route=product/category&amp;path=61" class="parent">Baby, Kids, Toys</a>
                        <ul class="list-unstyled">
							                                	                                	<li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=product/category&amp;path=61_75"><i class="fa fa-chevron-right"></i>Baby Gear</a></li>
                                                                	<li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=product/category&amp;path=61_76"><i class="fa fa-chevron-right"></i>Daycare &amp; Learning</a></li>
                                                                	<li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=product/category&amp;path=61_77"><i class="fa fa-chevron-right"></i>Furniture Deco</a></li>
                                                                	<li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=product/category&amp;path=61_78"><i class="fa fa-chevron-right"></i>Gift Toys</a></li>
                                                                	<li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=product/category&amp;path=61_80"><i class="fa fa-chevron-right"></i>Health Safety</a></li>
                                                                                       </ul>
                    </li>
                                    					                        <li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=product/category&amp;path=62">Computer, Parts</a></li>
                                    					                        <li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=product/category&amp;path=74">Software</a></li>
                                    					                    <li class="level0"><a href="http://themes.webiz.mu/opencart/monster/index.php?route=product/category&amp;path=20" class="parent">Desktops</a>
                        <ul class="list-unstyled">
							                                	                                	<li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=product/category&amp;path=20_69"><i class="fa fa-chevron-right"></i>Accessories</a></li>
                                                                	<li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=product/category&amp;path=20_79"><i class="fa fa-chevron-right"></i>Cables</a></li>
                                                                	<li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=product/category&amp;path=20_70"><i class="fa fa-chevron-right"></i>Networking</a></li>
                                                                	<li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=product/category&amp;path=20_68"><i class="fa fa-chevron-right"></i>Speakers</a></li>
                                                                	<li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=product/category&amp;path=20_26"><i class="fa fa-chevron-right"></i>PC</a></li>
                                                                	<li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=product/category&amp;path=20_27"><i class="fa fa-chevron-right"></i>Mac</a></li>
                                                                                       </ul>
                    </li>
                                    					                    <li class="level0"><a href="http://themes.webiz.mu/opencart/monster/index.php?route=product/category&amp;path=18" class="parent">Laptops &amp; Notebooks</a>
                        <ul class="list-unstyled">
							                                	                                	<li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=product/category&amp;path=18_72"><i class="fa fa-chevron-right"></i>Chargers</a></li>
                                                                	<li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=product/category&amp;path=18_46"><i class="fa fa-chevron-right"></i>Macs</a></li>
                                                                	<li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=product/category&amp;path=18_73"><i class="fa fa-chevron-right"></i>Mice</a></li>
                                                                	<li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=product/category&amp;path=18_82"><i class="fa fa-chevron-right"></i>Speakers</a></li>
                                                                	<li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=product/category&amp;path=18_45"><i class="fa fa-chevron-right"></i>Windows</a></li>
                                                                                       </ul>
                    </li>
                                    					                    <li class="level0"><a href="http://themes.webiz.mu/opencart/monster/index.php?route=product/category&amp;path=25" class="parent">Components</a>
                        <ul class="list-unstyled">
							                                	                                	<li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=product/category&amp;path=25_81"><i class="fa fa-chevron-right"></i>Keyboards</a></li>
                                                                	<li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=product/category&amp;path=25_29"><i class="fa fa-chevron-right"></i>Mice and Trackballs</a></li>
                                                                	<li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=product/category&amp;path=25_28"><i class="fa fa-chevron-right"></i>Monitors</a></li>
                                                                	<li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=product/category&amp;path=25_30"><i class="fa fa-chevron-right"></i>Printers</a></li>
                                                                	<li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=product/category&amp;path=25_31"><i class="fa fa-chevron-right"></i>Scanners</a></li>
                                                                	<li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=product/category&amp;path=25_32"><i class="fa fa-chevron-right"></i>Web Cameras</a></li>
                                                                                       </ul>
                    </li>
                                    					                        <li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=product/category&amp;path=57">Tablets</a></li>
                                    					                        <li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=product/category&amp;path=24">Phones &amp; PDAs</a></li>
                                    					                        <li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=product/category&amp;path=33">Cameras</a></li>
                                    					                    <li class="level0"><a href="http://themes.webiz.mu/opencart/monster/index.php?route=product/category&amp;path=34" class="parent">MP3 Players</a>
                        <ul class="list-unstyled">
							                                	                                	<li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=product/category&amp;path=34_43"><i class="fa fa-chevron-right"></i>test 11</a></li>
                                                                	<li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=product/category&amp;path=34_44"><i class="fa fa-chevron-right"></i>test 12</a></li>
                                                                	<li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=product/category&amp;path=34_47"><i class="fa fa-chevron-right"></i>test 15</a></li>
                                                                                            	                                	<li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=product/category&amp;path=34_48"><i class="fa fa-chevron-right"></i>test 16</a></li>
                                                                	<li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=product/category&amp;path=34_38"><i class="fa fa-chevron-right"></i>test 4</a></li>
                                                                	<li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=product/category&amp;path=34_37"><i class="fa fa-chevron-right"></i>test 5</a></li>
                                                                                            	                                	<li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=product/category&amp;path=34_39"><i class="fa fa-chevron-right"></i>test 6</a></li>
                                                                	<li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=product/category&amp;path=34_40"><i class="fa fa-chevron-right"></i>test 7</a></li>
                                                                	<li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=product/category&amp;path=34_41"><i class="fa fa-chevron-right"></i>test 8</a></li>
                                                                                            	                                	<li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=product/category&amp;path=34_42"><i class="fa fa-chevron-right"></i>test 9</a></li>
                                                                                       </ul>
                    </li>
                                                  </ul>
          </li>
      </ul>
  </nav>
<div class="container">
  <ul class="breadcrumb">
        <li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=common/home"><i class="fa fa-home"></i></a></li>
        <li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=account/account">Account</a></li>
        <li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=account/login">Login</a></li>
      </ul>
      <div class="row">
    <div id="content">      <div class="row">
        <div class="col-sm-6">
          <div class="well">
            <h2>New Customer</h2>
            <p><strong>Register Account</strong></p>
            <p>By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</p>
            <a href="http://themes.webiz.mu/opencart/monster/index.php?route=account/register" class="btn btn-primary">Continue</a></div>
        </div>
        <div class="col-sm-6">
          <div class="well">
            <h2>Returning Customer</h2>
            <p><strong>I am a returning customer</strong></p>
            <form action="http://themes.webiz.mu/opencart/monster/index.php?route=account/login" method="post" enctype="multipart/form-data">
              <div class="form-group">
                <label class="control-label" for="input-email">E-Mail Address</label>
                <input type="text" name="email" value="" placeholder="E-Mail Address" id="input-email" class="form-control">
              </div>
              <div class="form-group">
                <label class="control-label" for="input-password">Password</label>
                <input type="password" name="password" value="" placeholder="Password" id="input-password" class="form-control">
                <a href="http://themes.webiz.mu/opencart/monster/index.php?route=account/forgotten">Forgotten Password</a></div>
              <input type="submit" value="Login" class="btn btn-primary">
                          </form>
          </div>
        </div>
      </div>
      </div>
    <column id="column-right" class="col-sm-2 hidden-xs">
    <div class="module-block accountLinks">
<ul class="list-group">
	        	<li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=account/login" class="list-group-item">Login</a></li>
        <li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=account/register" class="list-group-item">Register</a></li>
        <li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=account/forgotten" class="list-group-item">Forgotten Password</a></li>
            	<li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=account/account" class="list-group-item">My Account</a></li>
            	<li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=account/address" class="list-group-item">Address Books</a></li>
        <li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=account/wishlist" class="list-group-item">Wish List</a></li>
        <li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=account/order" class="list-group-item">Order History</a></li>  
        <li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=account/download" class="list-group-item">Downloads</a></li> 
        <li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=account/reward" class="list-group-item">Reward Points</a></li> 
        <li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=account/return" class="list-group-item">Returns</a></li> 
        <li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=account/transaction" class="list-group-item">Transactions</a></li> 
        <li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=account/newsletter" class="list-group-item">Newsletter</a></li>
        <li><a href="http://themes.webiz.mu/opencart/monster/index.php?route=account/recurring" class="list-group-item">Recurring payments</a></li>
      </ul>
</div>
  </column>
</div>
</div>
<div class="clear"></div>
<script type="text/javascript">
    $("body").removeClass().addClass("account-login");
</script>
