<column id="column-left" class="hidden-xs">
    <div class="category-mod">
    <div class="block-title">Browse Categories</div>
    <ul class="categories">
                  <li class="level0"><a href="opencart/monster/index.php?route=product/category&amp;path=60" class="parent">Appliances</a>
                                    <ul style="display: none;">
                                                                            <li><a href="opencart/monster/index.php?route=product/category&amp;path=60_63"><i class="fa fa-chevron-right"></i>Air Treatment</a></li>
                                                                                                      <li><a href="opencart/monster/index.php?route=product/category&amp;path=60_67"><i class="fa fa-chevron-right"></i>Coolers</a></li>
                                                                                                      <li><a href="opencart/monster/index.php?route=product/category&amp;path=60_64"><i class="fa fa-chevron-right"></i>Dishwashers</a></li>
                                                                                                      <li><a href="opencart/monster/index.php?route=product/category&amp;path=60_71"><i class="fa fa-chevron-right"></i>Microwaves</a></li>
                                                                                                      <li><a href="opencart/monster/index.php?route=product/category&amp;path=60_66"><i class="fa fa-chevron-right"></i>Refrigerators</a></li>
                                                                                                      <li><a href="opencart/monster/index.php?route=product/category&amp;path=60_65"><i class="fa fa-chevron-right"></i>Water Dispensers</a></li>
                                                                     </ul>
                            </li>
                  <li class="level0"><a href="opencart/monster/index.php?route=product/category&amp;path=61" class="parent">Baby, Kids, Toys</a>
                                    <ul style="display: none;">
                                                                            <li><a href="opencart/monster/index.php?route=product/category&amp;path=61_75"><i class="fa fa-chevron-right"></i>Baby Gear</a></li>
                                                                                                      <li><a href="opencart/monster/index.php?route=product/category&amp;path=61_76"><i class="fa fa-chevron-right"></i>Daycare &amp; Learning</a></li>
                                                                                                      <li><a href="opencart/monster/index.php?route=product/category&amp;path=61_77"><i class="fa fa-chevron-right"></i>Furniture Deco</a></li>
                                                                                                      <li><a href="opencart/monster/index.php?route=product/category&amp;path=61_78"><i class="fa fa-chevron-right"></i>Gift Toys</a></li>
                                                                                                      <li><a href="opencart/monster/index.php?route=product/category&amp;path=61_80"><i class="fa fa-chevron-right"></i>Health Safety</a></li>
                                                                     </ul>
                            </li>
                  <li class="level0"><a href="opencart/monster/index.php?route=product/category&amp;path=62">Computer, Parts</a>
                            </li>
                  <li class="level0"><a href="opencart/monster/index.php?route=product/category&amp;path=74">Software</a>
                            </li>
                  <li class="level0"><a href="opencart/monster/index.php?route=product/category&amp;path=20" class="parent">Desktops</a>
                                    <ul style="display: none;">
                                                                            <li><a href="opencart/monster/index.php?route=product/category&amp;path=20_69"><i class="fa fa-chevron-right"></i>Accessories</a></li>
                                                                                                      <li><a href="opencart/monster/index.php?route=product/category&amp;path=20_79"><i class="fa fa-chevron-right"></i>Cables</a></li>
                                                                                                      <li><a href="opencart/monster/index.php?route=product/category&amp;path=20_70"><i class="fa fa-chevron-right"></i>Networking</a></li>
                                                                                                      <li><a href="opencart/monster/index.php?route=product/category&amp;path=20_68"><i class="fa fa-chevron-right"></i>Speakers</a></li>
                                                                                                      <li><a href="opencart/monster/index.php?route=product/category&amp;path=20_26"><i class="fa fa-chevron-right"></i>PC</a></li>
                                                                                                      <li><a href="opencart/monster/index.php?route=product/category&amp;path=20_27"><i class="fa fa-chevron-right"></i>Mac</a></li>
                                                                     </ul>
                            </li>
                  <li class="level0"><a href="opencart/monster/index.php?route=product/category&amp;path=18" class="parent">Laptops &amp; Notebooks</a>
                                    <ul style="display: none;">
                                                                            <li><a href="opencart/monster/index.php?route=product/category&amp;path=18_72"><i class="fa fa-chevron-right"></i>Chargers</a></li>
                                                                                                      <li><a href="opencart/monster/index.php?route=product/category&amp;path=18_46"><i class="fa fa-chevron-right"></i>Macs</a></li>
                                                                                                      <li><a href="opencart/monster/index.php?route=product/category&amp;path=18_73"><i class="fa fa-chevron-right"></i>Mice</a></li>
                                                                                                      <li><a href="opencart/monster/index.php?route=product/category&amp;path=18_82"><i class="fa fa-chevron-right"></i>Speakers</a></li>
                                                                                                      <li><a href="opencart/monster/index.php?route=product/category&amp;path=18_45"><i class="fa fa-chevron-right"></i>Windows</a></li>
                                                                     </ul>
                            </li>
                  <li class="level0"><a href="opencart/monster/index.php?route=product/category&amp;path=25" class="parent">Components</a>
                                    <ul style="display: none;">
                                                                            <li><a href="opencart/monster/index.php?route=product/category&amp;path=25_81"><i class="fa fa-chevron-right"></i>Keyboards</a></li>
                                                                                                      <li><a href="opencart/monster/index.php?route=product/category&amp;path=25_29"><i class="fa fa-chevron-right"></i>Mice and Trackballs</a></li>
                                                                                                      <li><a href="opencart/monster/index.php?route=product/category&amp;path=25_28"><i class="fa fa-chevron-right"></i>Monitors</a></li>
                                                                                                      <li><a href="opencart/monster/index.php?route=product/category&amp;path=25_30"><i class="fa fa-chevron-right"></i>Printers</a></li>
                                                                                                      <li><a href="opencart/monster/index.php?route=product/category&amp;path=25_31"><i class="fa fa-chevron-right"></i>Scanners</a></li>
                                                                                                      <li><a href="opencart/monster/index.php?route=product/category&amp;path=25_32"><i class="fa fa-chevron-right"></i>Web Cameras</a></li>
                                                                     </ul>
                            </li>
                  <li class="level0"><a href="opencart/monster/index.php?route=product/category&amp;path=57">Tablets</a>
                            </li>
                  <li class="level0"><a href="opencart/monster/index.php?route=product/category&amp;path=24">Phones &amp; PDAs</a>
                            </li>
                  <li class="level0"><a href="opencart/monster/index.php?route=product/category&amp;path=33">Cameras</a>
                            </li>
                  <li class="level0" style="display: none;"><a href="opencart/monster/index.php?route=product/category&amp;path=34" class="parent">MP3 Players</a>
                                    <ul>
                                                                            <li><a href="opencart/monster/index.php?route=product/category&amp;path=34_43"><i class="fa fa-chevron-right"></i>test 11</a></li>
                                                                                                      <li><a href="opencart/monster/index.php?route=product/category&amp;path=34_44"><i class="fa fa-chevron-right"></i>test 12</a></li>
                                                                                                      <li><a href="opencart/monster/index.php?route=product/category&amp;path=34_47"><i class="fa fa-chevron-right"></i>test 15</a></li>
                                                                                                      <li><a href="opencart/monster/index.php?route=product/category&amp;path=34_48"><i class="fa fa-chevron-right"></i>test 16</a></li>
                                                                                                      <li><a href="opencart/monster/index.php?route=product/category&amp;path=34_38"><i class="fa fa-chevron-right"></i>test 4</a></li>
                                                                                                      <li><a href="opencart/monster/index.php?route=product/category&amp;path=34_37"><i class="fa fa-chevron-right"></i>test 5</a></li>
                                                                                                      <li><a href="opencart/monster/index.php?route=product/category&amp;path=34_39"><i class="fa fa-chevron-right"></i>test 6</a></li>
                                                                                                      <li><a href="opencart/monster/index.php?route=product/category&amp;path=34_40"><i class="fa fa-chevron-right"></i>test 7</a></li>
                                                                                                      <li><a href="opencart/monster/index.php?route=product/category&amp;path=34_41"><i class="fa fa-chevron-right"></i>test 8</a></li>
                                                                                                      <li><a href="opencart/monster/index.php?route=product/category&amp;path=34_42"><i class="fa fa-chevron-right"></i>test 9</a></li>
                                                                     </ul>
                            </li>
            <li class="more-cat">
                  <a href="javascript:void(0);">More Categories</a>
                </li>
    </ul>
</div>
    <div class="banner-module">
  <ul class="banners">
                        <li><a href="#"><img src="image/223x155.jpg" alt="Banner Four"></a></li>
                                <li><a href="#"><img src="image/223x155.jpg" alt="Banner Five"></a></li>
                                <li><a href="#"><img src="image/223x155.jpg" alt="Banner Six"></a></li>
              </ul>
</div>    <div class="bestseller">
  <div class="product-wrapper">
        <h3>Bestsellers</h3>
        <div class="products">
           
        <div class="flex-viewport" style="overflow: hidden; position: relative;"><ul class="slides" style="width: 1000%; -webkit-transition-duration: 0s; transition-duration: 0s; -webkit-transform: translate3d(0px, 0px, 0px);">
                                    <li class="" style="width: 167px; float: left; display: block;">
                        <div class="image"><a href="opencart/monster/index.php?route=product/product&amp;product_id=40"><img src="image/185x145.jpg" alt="iPhone" title="iPhone" class="img-responsive" draggable="false"></a></div>
                        <div class="caption">
                            <h4><a href="opencart/monster/index.php?route=product/product&amp;product_id=40">iPhone</a></h4>
                            <p class="description">
  iPhone is a revolutionary new mobile phone that allows you to make a call by simply tapping a nam..</p>
                                                            <p class="price">
                                                            $123.20                                                                                        <span class="price-tax">Ex Tax: $101.00</span>
                                                            </p>
                                                    </div>
                    </li>
                                    <li style="width: 167px; float: left; display: block;">
                        <div class="image"><a href="opencart/monster/index.php?route=product/product&amp;product_id=28"><img src="image/185x145.jpg" alt="HTC Touch HD" title="HTC Touch HD" class="img-responsive" draggable="false"></a></div>
                        <div class="caption">
                            <h4><a href="opencart/monster/index.php?route=product/product&amp;product_id=28">HTC Touch HD</a></h4>
                            <p class="description">
  HTC Touch - in High Definition. Watch music videos and streaming content in awe-inspiring high de..</p>
                                                            <p class="price">
                                                            $122.00                                                                                        <span class="price-tax">Ex Tax: $100.00</span>
                                                            </p>
                                                    </div>
                    </li>
                                    <li style="width: 167px; float: left; display: block;">
                        <div class="image"><a href="opencart/monster/index.php?route=product/product&amp;product_id=30"><img src="image/185x145.jpg" alt="Canon EOS 5D" title="Canon EOS 5D" class="img-responsive" draggable="false"></a></div>
                        <div class="caption">
                            <h4><a href="opencart/monster/index.php?route=product/product&amp;product_id=30">Canon EOS 5D</a></h4>
                            <p class="description">
  Canon's press material for the EOS 5D states that it 'defines (a) new D-SLR category', while we'r..</p>
                                                            <p class="price">
                                                            <span class="price-new">$98.00</span> <span class="price-old">$122.00</span>
                                                                                        <span class="price-tax">Ex Tax: $80.00</span>
                                                            </p>
                                                    </div>
                    </li>
                                    <li style="width: 167px; float: left; display: block;">
                        <div class="image"><a href="opencart/monster/index.php?route=product/product&amp;product_id=44"><img src="image/185x145.jpg" alt="MacBook Air" title="MacBook Air" class="img-responsive" draggable="false"></a></div>
                        <div class="caption">
                            <h4><a href="opencart/monster/index.php?route=product/product&amp;product_id=44">MacBook Air</a></h4>
                            <p class="description">
  MacBook Air is ultrathin, ultraportable, and ultra unlike anything else. But you don’t lose..</p>
                                                            <p class="price">
                                                            $1,202.00                                                                                        <span class="price-tax">Ex Tax: $1,000.00</span>
                                                            </p>
                                                    </div>
                    </li>
                                    <li style="width: 167px; float: left; display: block;">
                        <div class="image"><a href="opencart/monster/index.php?route=product/product&amp;product_id=49"><img src="image/185x145.jpg" alt="Samsung Galaxy Tab 10.1" title="Samsung Galaxy Tab 10.1" class="img-responsive" draggable="false"></a></div>
                        <div class="caption">
                            <h4><a href="opencart/monster/index.php?route=product/product&amp;product_id=49">Samsung Galaxy Tab 10.1</a></h4>
                            <p class="description">
  Samsung Galaxy Tab 10.1, is the world’s thinnest tablet, measuring 8.6 mm thickness, running with..</p>
                                                            <p class="price">
                                                            $241.99                                                                                        <span class="price-tax">Ex Tax: $199.99</span>
                                                            </p>
                                                    </div>
                    </li>
                            </ul></div><ol class="flex-control-nav flex-control-paging"><li><a href="prev" class="btnPrev slideBtn"><i class="fa fa-chevron-left"></i></a></li><li><a class="flex-active">1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a href="next" class="btnNext slideBtn"><i class="fa fa-chevron-right"></i></a></li></ol></div>
     </div>
</div>
<script type="text/javascript"><!--
    $(window).load(function () {
        $('.bestseller .products').flexslider({
            animation: 'slide',
            animationLoop: false,
            slideshow: false,
            directionNav: false,
            controlNav: true,
            itemWidth: 210,
            itemMargin: 11,
            touch: true,
            animationSpeed: 500
        });
        $('.bestseller .products .flex-control-nav').prepend('<li><a href="prev" class="btnPrev slideBtn"><i class="fa fa-chevron-left"></i></a></li>');
        $('.bestseller .products .flex-control-nav').append('<li><a href="next" class="btnNext slideBtn"><i class="fa fa-chevron-right"></i></a></li>');
        function slides(slideBtn, block) {
            $(slideBtn).on('click', function () {
                var href = $(this).attr('href');
                $(block).flexslider(href)
                return false;
            });
        }
        slides('.bestseller .btnPrev,.bestseller .btnNext', '.bestseller .products');
    });

--></script>

  </column>