<div class="container">
    <div class="row">
        @Html.Partial("_LeftMenu")
        <div id="content" class="col-sm-10 no-padding">
            <div id="slideshow0" class="flexslider customSlideshow">
                <ul class="slides">
                    <li><a href="http://themeforest.net/user/raviG/portfolio?ref=raviG">
                        <img src="image/Slideshow2-700x428.jpg" alt="iPhone 6" class="img-responsive" />
                    </a></li>
                    <li><a href="http://themeforest.net/user/raviG/portfolio?ref=raviG">
                        <img src="image/Slideshow1-700x428.jpg" alt="MacBookAir" class="img-responsive" />
                    </a></li>
                </ul>
            </div>
            <script type="text/javascript"><!--
                $('#slideshow0').flexslider({
                    animation: 'slide',
                    animationLoop: true,
                    directionNav: false,
                    touch: true,
                    itemWidth: 700
                });
--></script>
            <div class="banner-module">
                <ul class="banners">
                    <li><a href="#">
                        <img src="image/223x155.jpg" alt="Image One" /></a></li>
                    <li><a href="#">
                        <img src="image/223x155.jpg" alt="Image Two" /></a></li>
                    <li><a href="#">
                        <img src="image/223x155.jpg" alt="Image Three" /></a></li>
                </ul>
            </div>
            <div class="featured">
                <div class="product-wrapper">
                    <h3>
                        Featured Products</h3>
                    <p class="block-description">
                        Browse our featured products. Crazy Deals for Christmas.</p>
                    <ul class="direction">
                        <li><a href="prev" class="btnPrev slideBtn"><i class="fa fa-chevron-left"></i>Prev</a></li>
                        <li><a href="next" class="btnNext slideBtn">Next <i class="fa fa-chevron-right"></i>
                        </a></li>
                    </ul>
                    <div class="products">
                        <ul class="slides">
                            <li>
                                <div class="image">
                                    <a href="opencart/monster/index.php?route=product/product&amp;product_id=43">
                                        <img src="image/200x200.jpg" alt="MacBook" title="MacBook" class="img-responsive" /></a></div>
                                <div class="caption">
                                    <h4>
                                        <a href="opencart/monster/index.php?route=product/product&amp;product_id=43">MacBook</a></h4>
                                    <p class="description">
                                        Intel Core 2 Duo processor Powered by an Intel Core 2 Duo processor at speeds up
                                        to 2.1..</p>
                                    <p class="price">
                                        $602.00 <span class="price-tax">Ex Tax: $500.00</span>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="image">
                                    <a href="opencart/monster/index.php?route=product/product&amp;product_id=40">
                                        <img src="image/200x200.jpg" alt="iPhone" title="iPhone" class="img-responsive" /></a></div>
                                <div class="caption">
                                    <h4>
                                        <a href="opencart/monster/index.php?route=product/product&amp;product_id=40">iPhone</a></h4>
                                    <p class="description">
                                        iPhone is a revolutionary new mobile phone that allows you to make a call by simply
                                        tapping a nam..</p>
                                    <p class="price">
                                        $123.20 <span class="price-tax">Ex Tax: $101.00</span>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="image">
                                    <a href="opencart/monster/index.php?route=product/product&amp;product_id=30">
                                        <img src="image/200x200.jpg" alt="Canon EOS 5D" title="Canon EOS 5D" class="img-responsive" /></a></div>
                                <div class="caption">
                                    <h4>
                                        <a href="opencart/monster/index.php?route=product/product&amp;product_id=30">Canon EOS
                                            5D</a></h4>
                                    <p class="description">
                                        Canon's press material for the EOS 5D states that it 'defines (a) new D-SLR category',
                                        while we'r..</p>
                                    <p class="price">
                                        <span class="price-new">$98.00</span> <span class="price-old">$122.00</span> <span
                                            class="price-tax">Ex Tax: $80.00</span>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="image">
                                    <a href="opencart/monster/index.php?route=product/product&amp;product_id=41">
                                        <img src="image/200x200.jpg" alt="iMac" title="iMac" class="img-responsive" /></a></div>
                                <div class="caption">
                                    <h4>
                                        <a href="opencart/monster/index.php?route=product/product&amp;product_id=41">iMac</a></h4>
                                    <p class="description">
                                        Just when you thought iMac had everything, now there´s even more. More powerful
                                        Intel Core 2 Duo ..</p>
                                    <p class="price">
                                        $122.00 <span class="price-tax">Ex Tax: $100.00</span>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="image">
                                    <a href="opencart/monster/index.php?route=product/product&amp;product_id=36">
                                        <img src="image/200x200.jpg" alt="iPod Nano" title="iPod Nano" class="img-responsive" /></a></div>
                                <div class="caption">
                                    <h4>
                                        <a href="opencart/monster/index.php?route=product/product&amp;product_id=36">iPod Nano</a></h4>
                                    <p class="description">
                                        Video in your pocket. Its the small iPod with one very big idea: video. The worlds
                                        most..</p>
                                    <p class="price">
                                        $122.00 <span class="price-tax">Ex Tax: $100.00</span>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="image">
                                    <a href="opencart/monster/index.php?route=product/product&amp;product_id=44">
                                        <img src="image/200x200.jpg" alt="MacBook Air" title="MacBook Air" class="img-responsive" /></a></div>
                                <div class="caption">
                                    <h4>
                                        <a href="opencart/monster/index.php?route=product/product&amp;product_id=44">MacBook
                                            Air</a></h4>
                                    <p class="description">
                                        MacBook Air is ultrathin, ultraportable, and ultra unlike anything else. But you
                                        don&rsquo;t lose..</p>
                                    <p class="price">
                                        $1,202.00 <span class="price-tax">Ex Tax: $1,000.00</span>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="image">
                                    <a href="opencart/monster/index.php?route=product/product&amp;product_id=28">
                                        <img src="image/200x200.jpg" alt="HTC Touch HD" title="HTC Touch HD" class="img-responsive" /></a></div>
                                <div class="caption">
                                    <h4>
                                        <a href="opencart/monster/index.php?route=product/product&amp;product_id=28">HTC Touch
                                            HD</a></h4>
                                    <p class="description">
                                        HTC Touch - in High Definition. Watch music videos and streaming content in awe-inspiring
                                        high de..</p>
                                    <p class="price">
                                        $122.00 <span class="price-tax">Ex Tax: $100.00</span>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="image">
                                    <a href="opencart/monster/index.php?route=product/product&amp;product_id=47">
                                        <img src="image/200x200.jpg" alt="HP LP3065" title="HP LP3065" class="img-responsive" /></a></div>
                                <div class="caption">
                                    <h4>
                                        <a href="opencart/monster/index.php?route=product/product&amp;product_id=47">HP LP3065</a></h4>
                                    <p class="description">
                                        Stop your co-workers in their tracks with the stunning new 30-inch diagonal HP LP3065
                                        Flat Panel ..</p>
                                    <p class="price">
                                        $122.00 <span class="price-tax">Ex Tax: $100.00</span>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <script type="text/javascript"><!--
                $(window).load(function () {
                    $('.products').flexslider({
                        animation: 'slide',
                        animationLoop: false,
                        slideshow: false,
                        directionNav: false,
                        controlNav: false,
                        itemWidth: 210,
                        itemMargin: 11,
                        touch: true,
                        animationSpeed: 1000
                    });
                });
--></script>
            <div class="latest">
                <div class="product-wrapper">
                    <h3>
                        Latest Products</h3>
                    <p class="block-description">
                        Browse our latest products. Crazy Deals for Christmas.</p>
                    <ul class="direction">
                        <li><a href="prev" class="btnPrev slideBtn"><i class="fa fa-chevron-left"></i>Prev</a></li>
                        <li><a href="next" class="btnNext slideBtn">Next <i class="fa fa-chevron-right"></i>
                        </a></li>
                    </ul>
                    <div class="products">
                        <ul class="slides">
                            <li>
                                <div class="image">
                                    <a href="opencart/monster/index.php?route=product/product&amp;product_id=50">
                                        <img src="image/185x145.jpg" alt="Gas 'N Go Mower" title="Gas 'N Go Mower" class="img-responsive" /></a></div>
                                <div class="caption">
                                    <h4>
                                        <a href="opencart/monster/index.php?route=product/product&amp;product_id=50">Gas 'N
                                            Go Mower</a></h4>
                                    <p class="description">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the ..</p>
                                    <p class="price">
                                        $0.00 <span class="price-tax">Ex Tax: $0.00</span>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="image">
                                    <a href="opencart/monster/index.php?route=product/product&amp;product_id=49">
                                        <img src="image/185x145.jpg" alt="Samsung Galaxy Tab 10.1" title="Samsung Galaxy Tab 10.1"
                                            class="img-responsive" /></a></div>
                                <div class="caption">
                                    <h4>
                                        <a href="opencart/monster/index.php?route=product/product&amp;product_id=49">Samsung
                                            Galaxy Tab 10.1</a></h4>
                                    <p class="description">
                                        Samsung Galaxy Tab 10.1, is the world’s thinnest tablet, measuring 8.6 mm thickness,
                                        running with..</p>
                                    <p class="price">
                                        $241.99 <span class="price-tax">Ex Tax: $199.99</span>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="image">
                                    <a href="opencart/monster/index.php?route=product/product&amp;product_id=48">
                                        <img src="image/185x145.jpg" alt="iPod Classic" title="iPod Classic" class="img-responsive" /></a></div>
                                <div class="caption">
                                    <h4>
                                        <a href="opencart/monster/index.php?route=product/product&amp;product_id=48">iPod Classic</a></h4>
                                    <p class="description">
                                        More room to move. With 80GB or 160GB of storage and up to 40 hours of battery l..</p>
                                    <p class="price">
                                        $122.00 <span class="price-tax">Ex Tax: $100.00</span>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="image">
                                    <a href="opencart/monster/index.php?route=product/product&amp;product_id=47">
                                        <img src="image/185x145.jpg" alt="HP LP3065" title="HP LP3065" class="img-responsive" /></a></div>
                                <div class="caption">
                                    <h4>
                                        <a href="opencart/monster/index.php?route=product/product&amp;product_id=47">HP LP3065</a></h4>
                                    <p class="description">
                                        Stop your co-workers in their tracks with the stunning new 30-inch diagonal HP LP3065
                                        Flat Panel ..</p>
                                    <p class="price">
                                        $122.00 <span class="price-tax">Ex Tax: $100.00</span>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="image">
                                    <a href="opencart/monster/index.php?route=product/product&amp;product_id=46">
                                        <img src="image/185x145.jpg" alt="Sony VAIO" title="Sony VAIO" class="img-responsive" /></a></div>
                                <div class="caption">
                                    <h4>
                                        <a href="opencart/monster/index.php?route=product/product&amp;product_id=46">Sony VAIO</a></h4>
                                    <p class="description">
                                        Unprecedented power. The next generation of processing technology has arrived. Built
                                        into the new..</p>
                                    <p class="price">
                                        $1,202.00 <span class="price-tax">Ex Tax: $1,000.00</span>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="image">
                                    <a href="opencart/monster/index.php?route=product/product&amp;product_id=45">
                                        <img src="image/185x145.jpg" alt="MacBook Pro" title="MacBook Pro" class="img-responsive" /></a></div>
                                <div class="caption">
                                    <h4>
                                        <a href="opencart/monster/index.php?route=product/product&amp;product_id=45">MacBook
                                            Pro</a></h4>
                                    <p class="description">
                                        Latest Intel mobile architecture Powered by the most advanced mobile processors
                                        ..</p>
                                    <p class="price">
                                        $2,000.00 <span class="price-tax">Ex Tax: $2,000.00</span>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="image">
                                    <a href="opencart/monster/index.php?route=product/product&amp;product_id=44">
                                        <img src="image/185x145.jpg" alt="MacBook Air" title="MacBook Air" class="img-responsive" /></a></div>
                                <div class="caption">
                                    <h4>
                                        <a href="opencart/monster/index.php?route=product/product&amp;product_id=44">MacBook
                                            Air</a></h4>
                                    <p class="description">
                                        MacBook Air is ultrathin, ultraportable, and ultra unlike anything else. But you
                                        don&rsquo;t lose..</p>
                                    <p class="price">
                                        $1,202.00 <span class="price-tax">Ex Tax: $1,000.00</span>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="image">
                                    <a href="opencart/monster/index.php?route=product/product&amp;product_id=43">
                                        <img src="image/185x145.jpg" alt="MacBook" title="MacBook" class="img-responsive" /></a></div>
                                <div class="caption">
                                    <h4>
                                        <a href="opencart/monster/index.php?route=product/product&amp;product_id=43">MacBook</a></h4>
                                    <p class="description">
                                        Intel Core 2 Duo processor Powered by an Intel Core 2 Duo processor at speeds up
                                        to 2.1..</p>
                                    <p class="price">
                                        $602.00 <span class="price-tax">Ex Tax: $500.00</span>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <script type="text/javascript"><!--
                $(window).load(function () {
                    $('.products').flexslider({
                        animation: 'slide',
                        animationLoop: false,
                        slideshow: false,
                        directionNav: false,
                        controlNav: false,
                        itemWidth: 210,
                        itemMargin: 11,
                        touch: true,
                        animationSpeed: 1000
                    });
                });
--></script>
        </div>
        <div class="clear">
        </div>
        <div class="bottom">
            <div class="featured_categories">
                <h3>
                    Featured Categories</h3>
                <p class="block-description">
                    Browse our Featured Categories. Up to 50% OFF on all items</p>
                <ul class="direction">
                    <li><a href="prev" class="btnPrev slideBtn"><i class="fa fa-chevron-left"></i>Prev</a></li>
                    <li><a href="next" class="btnNext slideBtn">Next <i class="fa fa-chevron-right"></i>
                    </a></li>
                </ul>
                <div class="block-slide">
                    <ul class="category-list slides">
                        <li class="top-level">
                            <div class="left">
                                <a href="opencart/monster/index.php?route=product/category&amp;path=20" class="thumb">
                                    <img src="image/1080×410 -140x90.png" /></a> <a href="opencart/monster/index.php?route=product/category&amp;path=20"
                                        class="parent-cat">Desktops</a>
                                <ul>
                                    <li><a href="opencart/monster/index.php?route=product/category&amp;path=20_69">Accessories</a></li>
                                    <li><a href="opencart/monster/index.php?route=product/category&amp;path=20_79">Cables</a></li>
                                    <li><a href="opencart/monster/index.php?route=product/category&amp;path=20_70">Networking</a></li>
                                    <li><a href="opencart/monster/index.php?route=product/category&amp;path=20_68">Speakers</a></li>
                                    <li><a href="opencart/monster/index.php?route=product/category&amp;path=20_26">PC</a></li>
                                    <li><a href="opencart/monster/index.php?route=product/category&amp;path=20_27">Mac</a></li>
                                </ul>
                            </div>
                            <ul class="right">
                                <li><a href="opencart/monster/index.php?route=product/product&amp;product_id=42"
                                    title="Apple Cinema 30&quot;">
                                    <img src="image/90x90.png" /></a></li>
                                <li><a href="opencart/monster/index.php?route=product/product&amp;product_id=30"
                                    title="Canon EOS 5D">
                                    <img src="image/90x90.png" /></a></li>
                                <li><a href="opencart/monster/index.php?route=product/product&amp;product_id=47"
                                    title="HP LP3065">
                                    <img src="image/90x90.png" /></a></li>
                                <li><a href="opencart/monster/index.php?route=product/product&amp;product_id=28"
                                    title="HTC Touch HD">
                                    <img src="image/90x90.png" /></a></li>
                                <li><a href="opencart/monster/index.php?route=product/product&amp;product_id=40"
                                    title="iPhone">
                                    <img src="image/90x90.png" /></a></li>
                                <li><a href="opencart/monster/index.php?route=product/product&amp;product_id=48"
                                    title="iPod Classic">
                                    <img src="image/90x90.png" /></a></li>
                            </ul>
                            <div class="clear">
                            </div>
                        </li>
                        <li class="top-level">
                            <div class="left">
                                <a href="opencart/monster/index.php?route=product/category&amp;path=60" class="thumb">
                                    <img src="image/1080×410 -140x90.png" /></a> <a href="opencart/monster/index.php?route=product/category&amp;path=60"
                                        class="parent-cat">Appliances</a>
                                <ul>
                                    <li><a href="opencart/monster/index.php?route=product/category&amp;path=60_63">Air Treatment</a></li>
                                    <li><a href="opencart/monster/index.php?route=product/category&amp;path=60_67">Coolers</a></li>
                                    <li><a href="opencart/monster/index.php?route=product/category&amp;path=60_64">Dishwashers</a></li>
                                    <li><a href="opencart/monster/index.php?route=product/category&amp;path=60_71">Microwaves</a></li>
                                    <li><a href="opencart/monster/index.php?route=product/category&amp;path=60_66">Refrigerators</a></li>
                                    <li><a href="opencart/monster/index.php?route=product/category&amp;path=60_65">Water
                                        Dispensers</a></li>
                                </ul>
                            </div>
                            <ul class="right">
                                <li><a href="opencart/monster/index.php?route=product/product&amp;product_id=47"
                                    title="HP LP3065">
                                    <img src="image/90x90.png" /></a></li>
                                <li><a href="opencart/monster/index.php?route=product/product&amp;product_id=28"
                                    title="HTC Touch HD">
                                    <img src="image/90x90.png" /></a></li>
                                <li><a href="opencart/monster/index.php?route=product/product&amp;product_id=41"
                                    title="iMac">
                                    <img src="image/90x90.png" /></a></li>
                                <li><a href="opencart/monster/index.php?route=product/product&amp;product_id=29"
                                    title="Palm Treo Pro">
                                    <img src="image/90x90.png" /></a></li>
                                <li><a href="opencart/monster/index.php?route=product/product&amp;product_id=33"
                                    title="Samsung SyncMaster 941BW">
                                    <img src="image/90x90.png" /></a></li>
                                <li><a href="opencart/monster/index.php?route=product/product&amp;product_id=49"
                                    title="Samsung Galaxy Tab 10.1">
                                    <img src="image/90x90.png" /></a></li>
                            </ul>
                            <div class="clear">
                            </div>
                        </li>
                        <li class="top-level">
                            <div class="left">
                                <a href="opencart/monster/index.php?route=product/category&amp;path=25" class="thumb">
                                    <img src="image/1080×410 -140x90.png" /></a> <a href="opencart/monster/index.php?route=product/category&amp;path=25"
                                        class="parent-cat">Components</a>
                                <ul>
                                    <li><a href="opencart/monster/index.php?route=product/category&amp;path=25_81">Keyboards</a></li>
                                    <li><a href="opencart/monster/index.php?route=product/category&amp;path=25_29">Mice
                                        and Trackballs</a></li>
                                    <li><a href="opencart/monster/index.php?route=product/category&amp;path=25_28">Monitors</a></li>
                                    <li><a href="opencart/monster/index.php?route=product/category&amp;path=25_30">Printers</a></li>
                                    <li><a href="opencart/monster/index.php?route=product/category&amp;path=25_31">Scanners</a></li>
                                    <li><a href="opencart/monster/index.php?route=product/category&amp;path=25_32">Web Cameras</a></li>
                                </ul>
                            </div>
                            <ul class="right">
                                <li><a href="opencart/monster/index.php?route=product/product&amp;product_id=40"
                                    title="iPhone">
                                    <img src="image/90x90.png" /></a></li>
                                <li><a href="opencart/monster/index.php?route=product/product&amp;product_id=48"
                                    title="iPod Classic">
                                    <img src="image/90x90.png" /></a></li>
                                <li><a href="opencart/monster/index.php?route=product/product&amp;product_id=32"
                                    title="iPod Touch">
                                    <img src="image/90x90.png" /></a></li>
                                <li><a href="opencart/monster/index.php?route=product/product&amp;product_id=31"
                                    title="Nikon D300">
                                    <img src="image/90x90.png" /></a></li>
                                <li><a href="opencart/monster/index.php?route=product/product&amp;product_id=29"
                                    title="Palm Treo Pro">
                                    <img src="image/90x90.png" /></a></li>
                                <li><a href="opencart/monster/index.php?route=product/product&amp;product_id=46"
                                    title="Sony VAIO">
                                    <img src="image/90x90.png" /></a></li>
                            </ul>
                            <div class="clear">
                            </div>
                        </li>
                        <li class="top-level">
                            <div class="left">
                                <a href="opencart/monster/index.php?route=product/category&amp;path=18" class="thumb">
                                    <img src="image/1080×410 -140x90.png" /></a> <a href="opencart/monster/index.php?route=product/category&amp;path=18"
                                        class="parent-cat">Laptops &amp; Notebooks</a>
                                <ul>
                                    <li><a href="opencart/monster/index.php?route=product/category&amp;path=18_72">Chargers</a></li>
                                    <li><a href="opencart/monster/index.php?route=product/category&amp;path=18_46">Macs</a></li>
                                    <li><a href="opencart/monster/index.php?route=product/category&amp;path=18_73">Mice</a></li>
                                    <li><a href="opencart/monster/index.php?route=product/category&amp;path=18_82">Speakers</a></li>
                                    <li><a href="opencart/monster/index.php?route=product/category&amp;path=18_45">Windows</a></li>
                                </ul>
                            </div>
                            <ul class="right">
                                <li><a href="opencart/monster/index.php?route=product/product&amp;product_id=47"
                                    title="HP LP3065">
                                    <img src="image/90x90.png" /></a></li>
                                <li><a href="opencart/monster/index.php?route=product/product&amp;product_id=43"
                                    title="MacBook">
                                    <img src="image/90x90.png" /></a></li>
                                <li><a href="opencart/monster/index.php?route=product/product&amp;product_id=44"
                                    title="MacBook Air">
                                    <img src="image/90x90.png" /></a></li>
                                <li><a href="opencart/monster/index.php?route=product/product&amp;product_id=45"
                                    title="MacBook Pro">
                                    <img src="image/90x90.png" /></a></li>
                                <li><a href="opencart/monster/index.php?route=product/product&amp;product_id=46"
                                    title="Sony VAIO">
                                    <img src="image/90x90.png" /></a></li>
                                <li><a href="opencart/monster/index.php?route=product/product&amp;product_id=49"
                                    title="Samsung Galaxy Tab 10.1">
                                    <img src="image/90x90.png" /></a></li>
                            </ul>
                            <div class="clear">
                            </div>
                        </li>
                        <li class="top-level">
                            <div class="left">
                                <a href="opencart/monster/index.php?route=product/category&amp;path=61" class="thumb">
                                    <img src="image/1080×410 -140x90.png" /></a> <a href="opencart/monster/index.php?route=product/category&amp;path=61"
                                        class="parent-cat">Baby, Kids, Toys</a>
                                <ul>
                                    <li><a href="opencart/monster/index.php?route=product/category&amp;path=61_75">Baby
                                        Gear</a></li>
                                    <li><a href="opencart/monster/index.php?route=product/category&amp;path=61_76">Daycare
                                        &amp; Learning</a></li>
                                    <li><a href="opencart/monster/index.php?route=product/category&amp;path=61_77">Furniture
                                        Deco</a></li>
                                    <li><a href="opencart/monster/index.php?route=product/category&amp;path=61_78">Gift
                                        Toys</a></li>
                                    <li><a href="opencart/monster/index.php?route=product/category&amp;path=61_80">Health
                                        Safety</a></li>
                                </ul>
                            </div>
                            <ul class="right">
                                <li><a href="opencart/monster/index.php?route=product/product&amp;product_id=30"
                                    title="Canon EOS 5D">
                                    <img src="image/90x90.png" /></a></li>
                                <li><a href="opencart/monster/index.php?route=product/product&amp;product_id=41"
                                    title="iMac">
                                    <img src="image/90x90.png" /></a></li>
                                <li><a href="opencart/monster/index.php?route=product/product&amp;product_id=40"
                                    title="iPhone">
                                    <img src="image/90x90.png" /></a></li>
                                <li><a href="opencart/monster/index.php?route=product/product&amp;product_id=32"
                                    title="iPod Touch">
                                    <img src="image/90x90.png" /></a></li>
                                <li><a href="opencart/monster/index.php?route=product/product&amp;product_id=45"
                                    title="MacBook Pro">
                                    <img src="image/90x90.png" /></a></li>
                                <li><a href="opencart/monster/index.php?route=product/product&amp;product_id=50"
                                    title="Gas 'N Go Mower">
                                    <img src="image/90x90.png" /></a></li>
                            </ul>
                            <div class="clear">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <script type="text/javascript"><!--
                $(window).load(function () {
                    $('.featured_categories .block-slide').flexslider({
                        animation: 'slide',
                        animationLoop: false,
                        slideshow: false,
                        directionNav: false,
                        controlNav: false,
                        animationSpeed: 1000
                    });
                });
--></script>
        </div>
    </div>
   
</div>
 <div class="clear">
    </div>