@model IEnumerable<Shopee.Models.lkpTargetedGroup>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="panel">
                          <header class="panel-heading">
                             List All Targeted Groups<span class="tools pull-right">
                                        <i class="glyphicon glyphicon-plus"></i>
                                        @Html.ActionLink("New", "Create")
                                     </span>
                          </header>
                          <table class="table table-striped table-advance table-hover">
                              <thead>
                              <tr>
                                  <th><i class="fa fa-bullhorn"></i> Targeted Group</th>                                  
                                  <th><i class=" fa fa-edit"></i> Status</th>
                                  <th></th>
                              </tr>
                              </thead>
                              <tbody>
                              @foreach (var item in Model)
                              {
                              <tr>
                                  <td>   @Html.ActionLink(item.TargetedGroupName, "Edit", new { id = item.TargetedGroupID }) </td>
                                
                                 
                                  <td><span class="label 
                                  @if (item.Active.Value) { Html.Raw("label-success"); }
                                  else
                                  {
                                      Html.Raw("label-error");
                                  }
                                                             label-mini"> </span></td>
                                  <td>
                                  
                                   <button class="btn btn-danger btn-xs pull-right" data-placement="left" onclick="javascript:return ShowConfirmDelete('@Url.Action("delete", "TargetedGroup", new { @id = item.TargetedGroupID })');"  data-toggle="tooltip" title="Delete" ><i class="glyphicon glyphicon-trash "></i></button>
                                     
                                  </td>
                              </tr>
                              }
                              </tbody>
                          </table>
                      </section> 